@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto:400,400i,700,700i);
@import url('https://fonts.googleapis.com/css?family=Tangerine:700');

$whiteColor: #FFFFFF !default;
$blackColor: #48484E !default;
$redColor: #FF4D4D !default;
$blueColorBorder: #B4DED3 !default;
$greenbgColor:#a3ad6f !default;
$footericonsbgColor: #cbb9a6 !default;
$blueColor : #19beb6 !default;
$highlightText: #EFFF1D !default;
$dividerColor: #E0E0E0;
$headerColor: #696763;

$break-small: 800px;
$break-large: 1200px;


$openSans: 'Open Sans',serif ;
$roboto: 'Roboto', sans-serif ;
$tangerine: 'Tangerine', jokerman;