<footer>
 		<!-- <h2>
 			Made with Love and Care by Ayushi Sharma &copy 2017
 		</h2> -->
 	<div class="container-fluid">
 		<div class="row">
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<span class="icon icon-address"></span>
 			</div>
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<span class="icon icon-phone"></span>
 			</div>
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<span class="icon icon-mail"></span>
 			</div>
 		</div>
 		<div class="row info">
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<h2>Name</h2>
 				<p>Ayushi Sharma</p>
 			</div>
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<h2>Phone</h2>
 				<p>+91-9166839414</p>
 			</div>
 			<div class="col-md-4 col-sm-4 col-lg-4">
 				<h2>Email Address</h2>
 				<p>ayushi.sharma.2k15@gmail.com</p>
 			</div>
 		</div>
 	</div>
 	<ul class="list-unstyled list-inline">
 		<li><a href="#" target="_blank"><img src="/icons/vector/facebook.png"></a></li>
 		<li><a href="https://www.linkedin.com/in/ayushi-sharma/" target="_blank"><img src="/icons/vector/linkedin.png"></a></li>
 		<li><a href="#" target="_blank"><img src="/icons/vector/google-plus.png"></a></li>
 		<li><a href="#" target="_blank"><img src="/icons/vector/twitter-logo-button.png"></a></li>
 	</ul>
 	
</footer>